{% load cart %}
{% load custom_filter %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="prod" style="padding:40px;">
<div class="row">
{% for menu in menues %}
 <div class="card mx-auto mb-3" id={{menu.id}} style="width: 15rem;">
  <img src="{{ menu.image.url }}" class="card-img-top" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{menu.name}}</h5>
          <h5 class="card-title">{{menu.price}}</h5>
          <div class="card-footer no-gutters">

            {% if menu|is_in_cart:request.session.cart %}
            <div class="row no-gutters" >
                <form action="" class="col-2 " method="post">
                    {% csrf_token %}
                    <input hidden type="text" name='menu' value='{{menu.id}}'>
                    <input hidden type="text" name='remove' value='True'>
                    <input type="submit" value=" - " class="btn btn-block btn-light border-right">
                </form>
            </form>
                <div class="text-center col">{{menu|cart_quantity:request.session.cart}} in cart </div>
                <form action="" class="col-2 " method="post">
                    {% csrf_token %}
                <input hidden  type="text" name='menu' value={{menu.id}}>
                <input type="submit" value=" + " class="btn btn-block btn-secondary">
            </form>
          
            </div>
            {% else %}
            <form action="" method="POST" class="btn-block">
            {% csrf_token %}
            <input hidden  type="text" name='menu' value={{menu.id}}>
            <input type="submit" class="btn btn-light border form-control" value="Add To Cart"> 
        </form>
        {% endif %}
          
          
        </div>
        </div>
   </div>
{% endfor %}
<a href="/cart"> CART</a>
<a href="/order"> Order </a>
     </div>
</div>
</body>
</html>