<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registration form</title>
</head>

<body>

    <h1>Preview</h1>
<h1>Email {{customer.email}}</h1>
    <h1>Name {{customer.fname}}</h1>
<!--h1>Name {{image}}</h1-->
    <img src="{{ customer.image.url }}">
    <img src="{{ customer.image.url }}" class="card-img-top" alt="Card image cap">
<button class="btn btn--radius-2 btn--blue" type="preview">Submit</button>
<p><a href="{% url 'register' %}"> edit</a></p>

{% for item in all %}
    {{ item.fname }}<br/>
    {{ item.oname }}<br/>
    {{ item.emp_id }}<br/>
    {{ item.email }}<br/>
    {{ item.mob }}<br/>
    
    <img src="{{BASE_DIR}}{{ item.image }}">
    {{ item.image }}<br/>
    {{ item.order_id }}<br/><br/>
{% endfor %}


</body>

</html>