<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registration form</title>
</head>

<body>

    <h1>Preview</h1>
<h1>Email{{cust.email}}</h1>
    <h1>Name {{cust.fname}}</h1>
<!--h1>Name {{image}}</h1-->
    <img src="{{ cust.image.url }}">
    <img src="{{ product.image.url }}" class="card-img-top" alt="Card image cap">
<button class="btn btn--radius-2 btn--blue" type="preview">Submit</button>
<p><a href="{% url 'register' %}"> edit</a></p>


</body>

</html>